<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "Witchcraft" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}{% endif %}</title>

<meta name="theme-color" content="{{ metadata.theme_color }}" />

{% seo title=false %}

<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />

<link rel="stylesheet" href="{% webpack_path css %}" />
<script src="{% webpack_path js %}" defer></script>
